/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 14, 2022, 8:19:59 PM
    Author     : bachds
*/




html, body {
    width: 100%;
    height: 100%;
    font-size: 20px;

    color: #222222;
}



.navbar {
    background-color: #F7E5D7 !important;
}
.nav {
    background-color: #F5D98F !important;
}

/* ------------------------------------------- */




/*------------ phần thân-----------------*/
.main {
    padding: 10px;
    background-color: #E5E5E5;
}
.body-page {
    position: relative;
    border: none;
    border: none;
    background-color: #E5E5E5;
}
.contents {
    background-color: #f8f9fa !important;
    padding-top: 10px;
}

.content {
    background-color: #ffffff;
}

.title-result h3 {
    width: 73px;
    height: 30px;
    font-size: 25px;
    border: none;
    margin-top: 30px;
    margin-left: 78px;
    margin-bottom: 18px;
}


.wrapper-column-1 {

    width: 100%;
    height: 100%;
    border: none;
    text-align: center;

}

.all-books .book figcaption h3{
    font-size: 16px;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    margin: 0 0 7px;
    display: -webkit-box;
    text-align: center;
}
.book {
    float: left;
    border: none;
    width: 25%;
    height: 90%;
    margin: auto;
    padding: 1px;
    padding-bottom: 22px;
}

.book h3 {
    width: 85%;
    height: 34.69px;
    font-size: 16px;
    padding-left: 15%;
    text-align: center !important;
    font-family: "inter";
}

.all-books .book img {
    position: relative;
    width: 70%;
    line-height: 200px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: #000 0 0 0;
    text-align: center;
    overflow: hidden;
}

.wrapper-column-1:after {
    content: "";
    display: table;
    clear: both;
}


.wrapper:after {
    content: "";
    display: table;
    clear: both;
}

.all-button-pages {
    width: 481px;
    height: 56px;
    border: 1px solid black;
    margin-left: 78px;
    margin-top: 100px;
    margin-bottom: 88px;
    background-color: #D9D9D9;
}

.all-button-pages button {
    width: 33px;
    height: 42px;
    font-size: 25px;
    padding-right: 2px;
    margin-top: 4.7px;
    margin-left: 2px;
    margin-right: 1.15px;
    cursor: pointer;
}


/* ------------------------------------------- */

    footer a {
        color: #f8f9fa !important;
    }

